@font-face {
  font-family: CaveatBold;
  src: url(../fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: CaveatRegular;
  src: url(../fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: LatoItalic;
  src: url(../fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}
.bold {
  font-family: "Segoe UI Bold";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  height: 100%;
}

.site-wrapper {
  margin: 0 auto;
  width: 95%;
  min-height: 100%;
}

@font-face {
  font-family: "Segoe UI Regular";
  src: url(../css/fonts/segoeui.ttf);
}
@font-face {
  font-family: "Segoe UI Bold";
  src: url(../css/fonts/segoeuib.ttf);
}
@media (max-width: 768px) {
  * {
    font-size: 11px;
  }
}
@media (max-width: 390px) {
  * {
    font-size: 6px;
  }
}
nav {
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  display: flex;
  align-items: center;
  font-family: "CaveatRegular";
}
nav .logo {
  width: 224px;
  height: 100px;
  background-image: url(../images/logo.svg);
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 50px;
}
nav .logoText {
  font-size: 16px;
  padding-left: 23px;
}
nav .links {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  width: 50%;
}

#login {
  padding: 10px 20px;
  background-color: #A7E8BD;
  border-radius: 50px;
}

.footWrap {
  font-family: "CaveatRegular";
}
.footWrap a {
  font-family: "CaveatRegular";
}

.homeWrapper {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeWrapper .homeCircle {
  height: 358px;
  width: 358px;
  border-radius: 350px;
  background-color: #FFD972;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.homeWrapper .homeCircle h1 {
  font-size: 24px;
  font-family: "CaveatRegular";
}
.homeWrapper .homeCircle p {
  width: 175px;
  text-align: center;
  padding-top: 25px;
  font-size: 13px;
}
.homeWrapper .homeCircleSmall {
  height: 168px;
  width: 168px;
  border-radius: 160px;
  background-color: #FCBCB8;
  margin-bottom: 300px;
  margin-left: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeWrapper .homeCircleSmall p {
  font-size: 10px;
  text-align: center;
  padding: 30px;
}

#homeBody {
  background-image: url(../images/hero.jpg);
  background-position: center;
}

.account-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}
.account-wrapper .login-here {
  display: flex;
  flex-direction: column;
  width: 233px;
  height: 300px;
}
.account-wrapper .login-here .spacing {
  height: 50px;
}
.account-wrapper .login-here h1 {
  font-size: 26px;
  font-family: "Segoe UI Regular";
  text-align: left;
}
.account-wrapper .login-here input {
  border: none;
  border-bottom: 1px solid black;
  width: 233px;
  margin-top: 50px;
}
.account-wrapper .login-here .login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.account-wrapper .login-here .login input {
  width: 170px;
  height: 45px;
  border: none;
  cursor: pointer;
  color: white;
}

#logBtn {
  background-color: #FFD972;
  color: black;
  border-radius: 100px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .account-wrapper {
    flex-direction: column;
    margin-top: 75px;
  }
  .account-wrapper .login-here {
    margin-bottom: 52px;
  }
  .blank {
    min-height: 170px;
  }
}
footer {
  height: 92px;
  color: black;
  font-size: 15px;
  display: flex;
  align-items: center;
  font-family: "LatoItalic";
}
footer .footWrap {
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footWrap .footerNav {
  width: 600px;
  display: flex;
  justify-content: space-around;
}
footer .footWrap .footerNav a {
  text-decoration: none;
  color: black;
}
footer .footWrap .socials {
  width: 200px;
  display: flex;
  justify-content: space-around;
}
footer .footWrap .socials .socIcon {
  height: 35px;
  width: 35px;
  background-size: cover;
  background-position: center;
}
footer .footWrap .socials .socIcon:hover {
  cursor: pointer;
}

.facebook {
  background-image: url(../images/facebook.svg);
}

.instagram {
  background-image: url(../images/instagram.svg);
}

@media (max-width: 768px) {
  footer {
    font-size: 11px;
  }
  footer .footWrap .socials {
    width: 125px;
  }
  footer .footWrap .socials .socIcon {
    height: 25px;
    width: 25px;
  }
}
@media (max-width: 390px) {
  footer {
    font-size: 6px;
  }
  footer .footWrap .footerNav {
    width: 150px;
  }
  footer .footWrap .socials {
    width: 100px;
  }
  footer .footWrap .socials .socIcon {
    height: 15px;
    width: 15px;
  }
}
.formHolder {
  width: 900px;
  padding-top: 20px;
  margin: 0 auto;
}

.formHolder input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  border-style: none;
  border-bottom: 2px solid black;
  padding-left: 5px;
}

.formTop {
  position: relative;
}

.formTop .imageBtn {
  position: absolute;
  right: 0;
  top: 15px;
  cursor: pointer;
  width: 100px;
  height: 30px;
  background-color: #EFA7A7;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 50px;
  font-size: 12px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family: "CaveatRegular";
  font-size: 17px;
}

.formDesc,
.formInstr {
  margin-top: 100px;
  position: relative;
}

.submitbtn {
  width: 420px;
  height: 50px;
  background-color: #EFA7A7;
  color: black;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 50px;
  margin-top: 100px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family: "CaveatRegular";
  font-size: 25px;
}

.addBtn {
  position: absolute;
  right: 0;
  bottom: 5px;
  height: 25px;
  width: 25px;
  background-color: #EFA7A7;
  color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 50px;
  cursor: pointer;
}

.addBtn2 {
  position: absolute;
  right: 0;
  bottom: 5px;
  height: 25px;
  width: 25px;
  background-color: #EFA7A7;
  color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 50px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .formHolder {
    margin: 50px;
  }
}
.title h1 {
  font-size: 25px;
  margin-left: 50px;
  padding-top: 75px;
}

.browseWrapper {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
}
.browseWrapper .recipeCard {
  width: 524px;
  height: 263px;
  display: flex;
  margin-top: 50px;
}
.browseWrapper .recipeCard .recipeImg {
  width: 60%;
  height: 100%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.browseWrapper .recipeCard .recipeImg a {
  padding: 10px 50px;
  background-color: #FFD972;
  color: black;
  border-radius: 100px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-family: "CaveatRegular";
}
.browseWrapper .recipeCard #spImg {
  background-image: url(../images/recipe-pizza.jpg);
  background-position: center;
  background-size: cover;
}
.browseWrapper .recipeCard #cbImg {
  background-image: url(../images/recipe-burger.jpg);
  background-position: center;
  background-size: cover;
}
.browseWrapper .recipeCard #cnImg {
  background-image: url(../images/recipe-pilaf.jpg);
  background-position: center;
  background-size: cover;
}
.browseWrapper .recipeCard #cmImg {
  background-image: url(../images/recipe-chowmein.jpg);
  background-position: center;
  background-size: cover;
}
.browseWrapper .recipeCard .recipeText {
  width: 40%;
  height: 100%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}
.browseWrapper .recipeCard .recipeText h1 {
  font-size: 15px;
  text-decoration: underline;
  text-align: left;
}
.browseWrapper .recipeCard .recipeText p {
  font-size: 9px;
  text-align: left;
}
.browseWrapper .recipeCard .recipeText .timeHolder {
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.browseWrapper .recipeCard .recipeText .timeHolder .timeIcon {
  height: 30px;
  width: 30px;
  background-image: url(../images/time.svg);
}
.browseWrapper .recipeCard .recipeText .timeHolder .timeText {
  font-size: 10px;
}
.browseWrapper .recipeCard .recipeText .servingHolder {
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.browseWrapper .recipeCard .recipeText .servingHolder .servingIcon {
  height: 30px;
  width: 30px;
  background-image: url(../images/servings.svg);
}
.browseWrapper .recipeCard .recipeText .servingHolder .servingText {
  font-size: 10px;
}

.btnWrapper {
  margin-left: 50px;
  padding-top: 30px;
}
.btnWrapper a {
  padding: 10px 30px;
  background-color: #FFD972;
  color: black;
  border-radius: 100px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-family: "CaveatRegular";
}

/*# sourceMappingURL=styles.css.map */
