@font-face {
  font-family: CaveatBold;
  src: url(../fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: CaveatRegular;
  src: url(../fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: LatoItalic;
  src: url(../fonts/Lato-Italic.ttf);
}
.bold {
  font-family: "Segoe UI Bold";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI Regular";
  font-size: 16px;
}

html,
body {
  height: 100%;
}

.site-wrapper {
  margin: 0 auto;
  width: 95%;
  min-height: 100%;
}

@font-face {
  font-family: "Segoe UI Regular";
  src: url(../css/fonts/segoeui.ttf);
}
@font-face {
  font-family: "Segoe UI Bold";
  src: url(../css/fonts/segoeuib.ttf);
}
@media (max-width: 768px) {
  * {
    font-size: 11px;
  }
}
@media (max-width: 390px) {
  * {
    font-size: 6px;
  }
}
nav {
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  display: flex;
  align-items: center;
  font-family: "CaveatRegular";
}
nav .logo {
  width: 224px;
  height: 100px;
  background-image: url(../images/logo.svg);
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 50px;
}
nav .logoText {
  font-size: 16px;
  padding-left: 23px;
}
nav .links {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  width: 50%;
}

#login {
  padding: 10px 20px;
  background-color: #A7E8BD;
  border-radius: 50px;
}

.homeWrapper {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeWrapper .homeCircle {
  height: 358px;
  width: 358px;
  border-radius: 350px;
  background-color: #FFD972;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.homeWrapper .homeCircle h1 {
  font-size: 24px;
  font-family: "CaveatRegular";
}
.homeWrapper .homeCircle p {
  width: 175px;
  text-align: center;
  padding-top: 25px;
  font-size: 13px;
}
.homeWrapper .homeCircleSmall {
  height: 168px;
  width: 168px;
  border-radius: 160px;
  background-color: #FCBCB8;
  margin-bottom: 300px;
  margin-left: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeWrapper .homeCircleSmall p {
  font-size: 10px;
  text-align: center;
  padding: 30px;
}

.account-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}
.account-wrapper .login-here {
  display: flex;
  flex-direction: column;
  width: 233px;
  height: 300px;
}
.account-wrapper .login-here .spacing {
  height: 50px;
}
.account-wrapper .login-here h1 {
  font-size: 26px;
  font-family: "Segoe UI Regular";
  text-align: left;
}
.account-wrapper .login-here input {
  border: none;
  border-bottom: 1px solid black;
  width: 233px;
  margin-top: 50px;
}
.account-wrapper .login-here .login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.account-wrapper .login-here .login input {
  width: 170px;
  height: 45px;
  border: none;
  cursor: pointer;
  color: white;
}

#logBtn {
  background-color: #FFD972;
  color: black;
  border-radius: 100px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .account-wrapper {
    flex-direction: column;
    margin-top: 75px;
  }
  .account-wrapper .login-here {
    margin-bottom: 52px;
  }
  .blank {
    min-height: 170px;
  }
}
footer {
  height: 92px;
  color: black;
  font-size: 15px;
  display: flex;
  align-items: center;
  font-family: "LatoItalic";
}
footer .footWrap {
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footWrap .footerNav {
  width: 600px;
  display: flex;
  justify-content: space-around;
}
footer .footWrap .footerNav a {
  text-decoration: none;
  color: black;
}
footer .footWrap .socials {
  width: 200px;
  display: flex;
  justify-content: space-around;
}
footer .footWrap .socials .socIcon {
  height: 35px;
  width: 35px;
  background-size: cover;
  background-position: center;
}
footer .footWrap .socials .socIcon:hover {
  cursor: pointer;
}

.facebook {
  background-image: url(../images/facebook.svg);
}

.instagram {
  background-image: url(../images/instagram.svg);
}

@media (max-width: 768px) {
  footer {
    font-size: 11px;
  }
  footer .footWrap .socials {
    width: 125px;
  }
  footer .footWrap .socials .socIcon {
    height: 25px;
    width: 25px;
  }
}
@media (max-width: 390px) {
  footer {
    font-size: 6px;
  }
  footer .footWrap .footerNav {
    width: 150px;
  }
  footer .footWrap .socials {
    width: 100px;
  }
  footer .footWrap .socials .socIcon {
    height: 15px;
    width: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
