footer {
  height: 92px;
  color: black;
  font-size: 15px;
  display: flex;
  align-items: center;
  font-family: $LI;
  .footWrap {
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footerNav {
      width: 600px;
      display: flex;
      justify-content: space-around;
      a {
        text-decoration: none;
        color: black;
      }
    }
    .socials {
      width: 200px;
      display: flex;
      justify-content: space-around;
      .socIcon {
        height: 35px;
        width: 35px;
        background-size: cover;
        background-position: center;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.facebook {
  background-image: url(../images/facebook.svg);
}

.instagram {
  background-image: url(../images/instagram.svg);
}

@media (max-width: $tablet) {
  footer {
    font-size: 11px;
  }
  footer .footWrap .socials {
    width: 125px;
  }
  footer .footWrap .socials .socIcon {
    height: 25px;
    width: 25px;
  }
}

@media (max-width: $phone) {
  footer {
    font-size: 6px;
  }
  footer .footWrap .footerNav {
    width: 150px;
  }
  footer .footWrap .socials {
    width: 100px;
  }
  footer .footWrap .socials .socIcon {
    height: 15px;
    width: 15px;
  }
}
