.account-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
  .login-here {
    display: flex;
    flex-direction: column;
    width: 233px;
    height: 300px;
    .spacing {
      height: 50px;
    }
    h1 {
      font-size: 26px;
      font-family: $SR;
      text-align: left;
    }
    input {
      border: none;
      border-bottom: 1px solid black;
      width: 233px;
      margin-top: 50px;
    }
    .login {
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        width: 170px;
        height: 45px;
        border: none;
        cursor: pointer;
        color: white;
      }
    }
  }
}

#logBtn {
  background-color: $yellow;
  color: black;
  border-radius: 100px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}


@media (max-width: $tablet) {
  .account-wrapper {
    flex-direction: column;
    margin-top: 75px;
  }
  .account-wrapper .login-here {
    margin-bottom: 52px;
  }
  .blank {
    min-height: 170px;
  }
}
